
body {
    min-height: 100px;
    background: url("./images/bg-desktop.svg");
    background-size: contain;
    background-color: hsl(257, 40%, 49%);
    font-family: 'Open Sans', sans-serif;
}

.container {
    display: flex; 
    flex-direction: row;
    max-width: 1320px;
    margin: 0 auto;
}

.box {
    height: 90%;
   
    justify-content: space-between;
    padding: 40px;
    margin: 2rem;
}


.header img {
    padding: 2rem 0 2.5rem 0;
    width: 190px;
}

.main {
    display: flex;
    align-items: center;
    gap: 4rem;
    
}

.right h1 {
    color: #fff;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
}

.right p {
    color: #fff;
    line-height: 1.9;
    margin-bottom: 20px;
}

.right a {
    
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
    border-radius: 30px;
    padding: 13px 50px;
    color: hsl(257, 40%, 49%);
    

}

.right a:hover {
    color: #fff;
    background-color: hsl(300, 69%, 71%);
}

.logo a i:hover {
    color: hsl(300, 69%, 71%);
}


.logo {
    text-align: right;
    margin-bottom: 1rem;  
}

.logo a i {
    color: #fff;
    margin-left: 10px;
    font-size: 18px;
}


.logo a {
    margin-left: 2rem;
    border: 2px solid #fff;
    border-radius: 100%;
    padding:4.5px 2px;
}


@media (max-width:800px) {
    .main {
     flex-direction: column;
    
    }

        .right h1 {
            font-size: 25px;
        }
     
        .right p {
            font-size: 15px;
        }

        .main {
            text-align: center;
        }
     
        .logo {
            text-align: center;
            margin-top: 40px;
        }
     
        .logo a {
            padding: 12px 50px;
        }
}